<!DOCTYPE html>
<html lang="zh_CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="error/base"
>
<head
    th:replace="error/base :: baseErrorHead('404', 'error/404style,error/404blue', 'error/jquery-404,error/404script')">
  <title>404</title>
</head>
<body layout:fragment="body">

<div id="error-container">
  <div id="error">
    <div id="pacman"></div>
  </div>
  <div id="container">
    <div id="title">
      <h1>对不起, 你访问的页面不存在!</h1>
    </div>
    <div id="content">
      <div class="left">
        <p class="no-top">&nbsp;&nbsp;&nbsp;可能是如下原因引起了这个错误:</p>
        <ul>
          <li>&nbsp;&nbsp;&nbsp;URL输入错误</li>
          <li>&nbsp;&nbsp;&nbsp;链接已失效</li>
          <li>&nbsp;&nbsp;&nbsp;其他原因...</li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="right">
        <p class="no-top">推荐您通过以下链接继续访问本系统：</p>
        <ul class="links">
          <li><a href="/">» 返回首页</a></li>
        </ul>
        <ul class="links">
          <li><a href="javascript:history.go(-1);">» 返回上页</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div id="footer">
      CopyRight © 2015 https://github.com/fanzezhen/ 模板素材 All Rights Reserved.
    </div>
  </div>
</div>
</body>

</html>
