<!DOCTYPE html>
<html lang="zh"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:fragment="baseErrorHead(title, cssNames, jsNames)"
      th:include="base :: baseHead(${title}, ${cssNames}, 'error/error' + ${jsNames == ''? '':','+jsNames})"
>
  <title th:text="${title + '错误提示页'}"></title>
</head>
<body layout:fragment="body">
<th:block layout:fragment="bottomScriptBlock">这里是预留给子页单独引用js用的,th:block Thymeleaf不会渲染,放代码块最合适
  　　　　th:block is a mere attribute container that allows template developers to specify whichever attributes they want.
  　　　　Thymeleaf will execute these attributes and then simply make the block dissapear without a trace.
</th:block>
</body>
</html>
