<!doctype html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="base :: baseHead('登录','login','')"></head>
<body class="login-bg">

<div class="login layui-anim layui-anim-up">
  <div class="message">欢迎登录管理系统</div>
  <div id="darkbannerwrap"></div>

  <form action="/login" method="post" class="layui-form">
    <input name="username" placeholder="用户名" type="text" lay-verify="required" class="layui-input">
    <hr class="hr15">
    <input name="password" lay-verify="required" placeholder="密码" type="password" class="layui-input">
    <hr class="hr15">
    <input type="text" name="imageCode" placeholder="验证码" style="width: 50%;" lay-verify="required"/>
    <img src="/oauth/code/image"/>
    <hr class="hr15">
    <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
    <hr class="hr20">
  </form>
</div>

<script th:inline="javascript">
    $(function () {
        layui.use('form', function () {
            var form = layui.form;
            // layer.msg('玩命卖萌中', function(){
            //   //关闭后的操作
            //   });
            //监听提交
            form.on('submit(login)', function (data) {
                // ajaxCommit("post", false, "login", JSON.stringify(data), mainPage, alert_error, "application/json;charset=utf-8");
                // // alert(888)
                // layer.msg(JSON.stringify(data.field),function(){
                //     location.href='/hello'
                // });
                // return false;
            });
        });
    });

    // 加载错误提示
    $(function () {
        const isError = [[${error}]];
        const data = [[${data}]];
        console.log(isError);
        console.log(data);
        if (isError) {
            alert_error(data)
        }
    })
</script>
<!-- 底部结束 -->
<script>
    //百度统计可去掉
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>
