<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:fragment="userBaseHead(title, cssNames, jsNames)"
      th:include="base :: baseHead(${title}, ${cssNames}, 'user/user' + ${jsNames == ''? '':','+jsNames})"
>
  <title>管理员管理</title>
</head>
<body>
<div class="x-nav">
  <span class="layui-breadcrumb">
    <a href="/">首页</a>
    <a>管理员管理</a>
    <a>
      <cite layout:fragment="navigation">导航元素</cite>
    </a>
      <a th:each="name,status:${#strings.setSplit(names,',')}" th:text="${nameStat.last? '':name}">
        <cite th:if="${nameStat.last}"></cite>
    </a>
  </span>
  <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()"
     title="刷新">
    <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid" layout:fragment="fluid"></div>
<th:block layout:fragment="bottomScriptBlock">这里是预留给子页单独引用js用的,th:block Thymeleaf不会渲染,放代码块最合适
  　　　　th:block is a mere attribute container that allows template developers to specify whichever attributes they want.
  　　　　Thymeleaf will execute these attributes and then simply make the block dissapear without a trace.
</th:block>
</body>
</html>
