<!DOCTYPE html>
<html lang="en" class="x-admin-sm"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="user/base"
>
<head th:replace="admin/base :: adminBaseHead(${title}, '', 'admin/role-edit-button')">
  <title th:text="${title}"></title>
</head>
<body>
<cite layout:fragment="navigation" th:text="${title}"></cite>
<div class="layui-fluid" layout:fragment="fluid">
  <div class="layui-row">
    <form class="layui-form layui-form-pane">
      <input type="hidden" name="id" th:value="${sysRole.id}">
      <div class="layui-form-item">
        <label for="roleName" class="layui-form-label">
          <span class="x-red">*</span>角色名
        </label>
        <div class="layui-input-inline">
          <input type="text" id="roleName" name="roleName" required="" lay-verify="required"
                 autocomplete="off" class="layui-input" th:value="${sysRole.roleName}">
        </div>
      </div>
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">
          拥有按钮权限
        </label>
        <table class="layui-table layui-input-block">
          <tbody>
          <tr th:each="sysPermission:${permissionTree}">
            <td>
              <input type="checkbox" name="" lay-skin="primary" lay-filter="father"
                     th:title="${sysPermission.name}"
                     th:value="${sysPermission.id}"
                     th:checked="${#lists.contains(permissionIdList, sysPermission.id)}"/>
            </td>
            <td>
              <div class="layui-input-block">
                <input type="checkbox" name="permissions" lay-skin="primary"
                       th:each="sysPermission: ${sysPermission.childList}"
                       th:title="${sysPermission.name}"
                       th:value="${sysPermission.id}"
                       th:checked="${#lists.contains(permissionIdList, sysPermission.id)}"/>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="layui-form-item layui-form-text">
        <label for="description" class="layui-form-label">
          描述
        </label>
        <div class="layui-input-block">
          <textarea th:text="${sysRole.description}"
                    placeholder="请输入内容"
                    id="description"
                    name="description"
                    class="layui-textarea"></textarea>
        </div>
      </div>
      <div class="layui-form-item" style="text-align: center; margin-top: 1vw;">
        <button class="layui-btn" lay-filter="edit" lay-submit="" th:text="${title}">
          增加
        </button>
      </div>
    </form>
  </div>
</div>
<th:block layout:fragment="bottomScriptBlock">
  <script>
  </script>
</th:block>
</body>

</html>
