<!DOCTYPE html>
<html lang="en" class="x-admin-sm"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="user/base"
>
<head th:replace="admin/base :: adminBaseHead(${title}, '', 'admin/rule-edit')">
  <title th:text="${title}"></title>
</head>
<body>
<cite layout:fragment="navigation" th:text="${title}"></cite>
<div class="layui-fluid" layout:fragment="fluid">
  <div class="layui-row">
    <form class="layui-form">
      <input type="hidden" name="id" th:value="${sysRule.id}">
      <div class="layui-form-item">
        <label for="name" class="layui-form-label">
          <span class="x-red">*</span>名称
        </label>
        <div class="layui-input-inline">
          <input type="text" id="name" name="name" required="" lay-verify="required"
                 autocomplete="off" class="layui-input" th:value="${sysRule.name}"/>
        </div>
      </div>
      <div class="layui-form-item">
        <label for="operationUrl" class="layui-form-label">
          <span class="x-red">*</span>请求地址
        </label>
        <div class="layui-input-inline">
          <input type="text" id="operationUrl" name="operationUrl" required="" lay-verify="operationUrl"
                 autocomplete="off" class="layui-input" th:value="${sysRule.operationUrl}"/>
        </div>
      </div>
      <div class="layui-form-item">
        <label for="pid" class="layui-form-label">
          <span class="x-red">*</span>上级</label>
        <div class="layui-input-inline">
          <select id="pid" name="pid" class="valid">
            <option value="0">无</option>
            <option th:each="sysPermission:${sysRuleList}" th:value="${sysPermission.id}"
                    th:text="${sysPermission.name}" th:selected="${sysRule.pid==sysPermission.id}"></option>
          </select>
        </div>
      </div>
      <div class="layui-form-item">
        <label for="type" class="layui-form-label">
          <span class="x-red">*</span>类型</label>
        <div class="layui-input-inline">
          <select id="type" name="type" class="valid">
            <option th:each="type:${typeList}" th:value="${type.type}" th:text="${type.desc}"
                    th:selected="${sysRule.type==type.type}"></option>
          </select>
        </div>
      </div>

      <div class="layui-form-item">
        <label for="operationUrl" class="layui-form-label">
          排序
        </label>
        <div class="layui-input-inline">
          <input type="text" id="orderNum" name="orderNum" required="" lay-verify="operationUrl"
                 autocomplete="off" class="layui-input"
                 th:value="${sysRule.orderNum==null?1:sysRule.orderNum}"/>
        </div>
      </div>
      <div class="layui-form-item" style="text-align: center; margin-top: 1vw;">
        <button class="layui-btn" lay-filter="edit" lay-submit="" th:text="${title}">
          增加
        </button>
      </div>
    </form>
  </div>
</div>
<th:block layout:fragment="bottomScriptBlock">
  <script>
  </script>
</th:block>
</body>

</html>
