<!DOCTYPE html>
<html lang="en" class="x-admin-sm"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="user/base"
>
<head th:replace="user/base :: userBaseHead(${title}, '', 'user/user-edit')">
  <title th:text="${title}"></title>
</head>
<body>
<cite layout:fragment="navigation" th:text="${title}"></cite>
<div class="layui-fluid" layout:fragment="fluid">
  <div class="layui-row">
    <form class="layui-form">
      <input type="hidden" name="id" th:value="${sysUser.id}">
      <div class="layui-form-item">
        <label for="username" class="layui-form-label">
          <span class="x-red">*</span>登录名
        </label>
        <div class="layui-input-inline">
          <input type="text" id="username" name="username" required="" lay-verify="required"
                 autocomplete="off" class="layui-input" th:value="${sysUser.username}"/>
        </div>
        <div class="layui-form-mid layui-word-aux">
          <span class="x-red">*</span>将会成为您唯一的登入名
        </div>
      </div>
      <div class="layui-form-item">
        <label for="phone" class="layui-form-label">
          <span class="x-red">*</span>手机
        </label>
        <div class="layui-input-inline">
          <input type="text" id="phone" name="phone" required="" lay-verify="phone"
                 autocomplete="off" class="layui-input" th:value="${sysUser.phone}"/>
        </div>
        <div class="layui-form-mid layui-word-aux">
          <span class="x-red">*</span>将会成为您唯一的登入名
        </div>
      </div>
      <div class="layui-form-item">
        <label for="L_email" class="layui-form-label">
          <span class="x-red">*</span>邮箱
        </label>
        <div class="layui-input-inline">
          <input type="text" id="L_email" name="email" required="" lay-verify="email"
                 autocomplete="off" class="layui-input" th:value="${sysUser.email}"/>
        </div>
        <div class="layui-form-mid layui-word-aux">
          <span class="x-red">*</span>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label"><span class="x-red">*</span>角色</label>
        <div class="layui-input-block">
          <input type="checkbox" name="roleIds" lay-skin="primary"
                 th:each="sysRole: ${sysRoleList}"
                 th:title="${sysRole.roleName}"
                 th:checked="${#lists.contains(sysRoleIdList, sysRole.id)}"
                 th:value="${sysRole.id}">
        </div>
      </div>
      <div class="layui-form-item" style="text-align: center; margin-top: 1vw;">
        <button class="layui-btn" lay-filter="save" lay-submit="" th:text="${title}">
          增加
        </button>
      </div>
    </form>
  </div>
</div>
<th:block layout:fragment="bottomScriptBlock">
  <script>
  </script>
</th:block>
</body>

</html>
