<!doctype html>
<html class="x-admin-sm" lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="base :: baseHead('登录日志','log/log_login','log/log,log/log_login')"><title></title></head>

<body>
<section class="content">
  <div class="row">
    <div class="col-md-12" id="productList">
      <div class="box">
        <div id="toolbar">
          <div class="btn-group" style="width:210px;">
            <div class="input-group">
              <i class="fa fa-search search_icon"></i>
              <input type="text" class="form-control" id="search-content-text1"
                     placeholder="路径"
                     name="searchKeywords" stockskulike="" value="" style="padding-left:20px;border-radius: 4px;">
            </div>
          </div>
          <div class="btn-group" style="width:210px;">
            <div class="input-group">
              <i class="fa fa-search search_icon"></i>
              <input type="text" class="form-control" id="search-content-text2"
                     placeholder="来源"
                     name="searchKeywords" stockskulike="" value="" style="padding-left:20px;border-radius: 4px;">
            </div>
          </div>
          <div class="btn-group">
            <select class="selectpicker" id="projectCode" multiple data-actions-box="true" data-live-search="true"
                    name="projectCode" title="选择访问用户">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
          <div class="btn-group">
            <select class="form-control" id="searchType" name="searchType">
              <option value="">选择访问用户</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>

          <div class="btn-group">
            <button type="button" class="btn btn-white btn-sm" id="daterange-btn">
              <span id="daterangeText">访问日期</span>
              <input type="hidden" name="daterange" value=" " id="id-daterange"
                     class="toolbar-filter">
              <i class="fa fa-caret-down"></i>
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm" id="btn_query"><i
                class="ico-search mr5"></i>搜索
            </button>
          </div>
        </div>
        <div class="box-body">
          <table id="table"></table>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
</script>
</body>
</html>
