<!DOCTYPE html>
<html lang="en" class="x-admin-sm"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="user/base"
>
<head th:replace="user/base :: userBaseHead(${title}, '', 'user/member-edit')">
  <title th:text="${title}"></title>
</head>
<body>
<cite layout:fragment="navigation" th:text="${title}"></cite>
<div class="layui-fluid" layout:fragment="fluid">
  <div class="layui-row">
    <form class="layui-form">
      <input type="hidden" name="id" th:value="${sysUser.id}">
      <div class="layui-form-item">
        <label for="L_email" class="layui-form-label">
          <span class="x-red">*</span>邮箱</label>
        <div class="layui-input-inline">
          <input type="text" id="L_email" name="email" required="" lay-verify="email" autocomplete="off"
                 class="layui-input" th:value="${sysUser.email}">
        </div>
      </div>
      <div class="layui-form-item">
        <label for="L_username" class="layui-form-label">
          <span class="x-red">*</span>登录名</label>
        <div class="layui-input-inline">
          <input type="text" id="L_username" name="username" required="" lay-verify="username" autocomplete="off"
                 class="layui-input" th:value="${sysUser.username}">
        </div>
        <div class="layui-form-mid layui-word-aux">
          <span class="x-red">*</span>将会成为您唯一的登入名
        </div>
      </div>
      <div class="layui-form-item">
        <label for="L_nickname" class="layui-form-label">
          <span class="x-red">*</span>昵称</label>
        <div class="layui-input-inline">
          <input type="text" id="L_nickname" name="nickname" required="" lay-verify="nickname" autocomplete="off"
                 class="layui-input" th:value="${sysUser.nickname}"></div>
      </div>
      <div class="layui-form-item">
        <label for="L_pass" class="layui-form-label">
          <span class="x-red">*</span>密码</label>
        <div class="layui-input-inline">
          <input type="password" id="L_pass" name="password" required="" lay-verify="pass" autocomplete="off"
                 class="layui-input" value=""></div>
        <div class="layui-form-mid layui-word-aux">6到16个字符</div>
      </div>
      <div class="layui-form-item">
        <label for="L_rePass" class="layui-form-label">
          <span class="x-red">*</span>确认密码</label>
        <div class="layui-input-inline">
          <input type="password" id="L_rePass" name="rePass" required="" lay-verify="rePass" autocomplete="off"
                 class="layui-input"></div>
      </div>
      <div class="layui-form-item">
        <label for="L_rePass" class="layui-form-label"></label>
        <button class="layui-btn" lay-filter="add" lay-submit="" th:text="${#strings.substring(title, 0, 2)}"></button>
      </div>
    </form>
  </div>
</div>
<th:block layout:fragment="bottomScriptBlock">
</th:block>
</body>

</html>
