<!DOCTYPE html>
<html lang="en" class="x-admin-sm"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="user/base"
>
<head th:replace="user/base :: userBaseHead('修改密码', '', 'user/member-password')">
  <title th:text="修改密码"></title>
</head>
<body>
<cite layout:fragment="navigation" th:text="修改密码"></cite>
<div class="layui-fluid" layout:fragment="fluid">
  <div class="layui-row">
    <form class="layui-form">
      <input type="hidden" name="id" th:value="${sysUser.id}">
      <div class="layui-form-item">
        <label for="L_nickname" class="layui-form-label">昵称</label>
        <div class="layui-input-inline">
          <input type="text" id="L_nickname" name="nickname" disabled="" th:value="${sysUser.nickname}"
                 class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label for="L_old_pass" class="layui-form-label">
          <span class="x-red">*</span>旧密码</label>
        <div class="layui-input-inline">
          <input type="password" id="L_old_pass" name="oldPassword" required="" lay-verify="required" autocomplete="off"
                 class="layui-input"></div>
      </div>
      <div class="layui-form-item">
        <label for="L_pass" class="layui-form-label">
          <span class="x-red">*</span>新密码</label>
        <div class="layui-input-inline">
          <input type="password" id="L_pass" name="password" required="" lay-verify="required" autocomplete="off"
                 class="layui-input"></div>
        <div class="layui-form-mid layui-word-aux">6到16个字符</div>
      </div>
      <div class="layui-form-item">
        <label for="L_re_pass" class="layui-form-label">
          <span class="x-red">*</span>确认密码</label>
        <div class="layui-input-inline">
          <input type="password" id="L_re_pass" name="rePass" required="" lay-verify="required" autocomplete="off"
                 class="layui-input"></div>
      </div>
      <div class="layui-form-item">
        <label for="L_re_pass" class="layui-form-label"></label>
        <button class="layui-btn" lay-filter="save" lay-submit="">提交</button>
      </div>
    </form>
  </div>
</div>
<th:block layout:fragment="bottomScriptBlock">
</th:block>
</body>

</html>
